body{
    background-color: #333;
}

.clock{
    font-size: 4rem;
    text-align: center;
    margin: 200px auto;
    color: yellow;
    font-family: arial;
}

.clock span{
    padding: 20px;
    background-color: #444;
    border-radius: 1rem;
}